  .navbar-light .navbar-brand {
      color: rgba(255, 255, 255, 0.9);
      font-size: x-large;
      font-family: 'Kenia',
          cursive;
  }


  .navbar-light .navbar-nav .nav-link {
      color: rgb(255, 255, 255);
      font-size: large;
      font-family: 'Exo', sans-serif;
  }

  .navbar-nav .active>.nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show>.nav-link {
      color: rgb(243, 224, 16);
      font-family: "Your Modern Font", sans-serif;
  }

  .bg-light {
      background-color: #9d1010 !important;
      font-family: "Your Modern Font", sans-serif;
  }

  .navbar-nav .active>.nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show>.nav-link {
      color: rgb(243, 224, 16);
      font-family: 'Playfair Display', serif;
  }

  .navbar-nav .nav-item .nav-link {
      position: relative;
      transition: color 0.3s, transform 0.3s;
      color: #fafafa;
  }

  .navbar-nav .nav-item .nav-link:before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #ffffff;
      transform: scaleX(0);
      transform-origin: center center;
      transition: transform 0.3s;
  }

  .navbar-nav .nav-item .nav-link:hover {
      color: #79d3fc;
      transform: translateY(-3px);
  }

  .navbar-nav.ml-auto {
      margin-left: auto;
  }

  .navbar-nav.ml-auto .nav-item {
      margin-right: 15px;
  }

  .navbar-nav .nav-item .nav-link:hover:before {
      transform: scaleX(1);
  }

  /* Apply fade-in animation */
  @keyframes fade-in {
      from {
          opacity: 0;
          transform: translateY(10px);
      }

      to {
          opacity: 1;
          transform: translateY(0);
      }
  }

  .animated {
      animation: fade-in 0.5s ease-in-out forwards;
  }

  #-------------------post-Details------------------------------------------ body {
      background-color: #f2f3f4;

  }

  .profile-photo-frame {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #ccc;
      float: right;
  }

  .profile-photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
  }

  .fa,
  .far {
      color: rgb(238, 133, 20);
  }

  .custom-image {
      width: 10%;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol {
      margin: 0;
      padding: 0;
  }

  body {
      background-color: #f2f3f4;
      font-family: 'Exo', sans-serif;
  }

  .container {
      padding: 5px;
  }

  .card-body2 {
      background-color: #eff0f0;
      border: none;

  }

  .card {
      border: none;

  }

  .post-title {
      font-size: 24px;
      margin-bottom: 15px;
      color: #1a1a1a;
  }

  .post-subtitle {
      font-size: 14px;
      color: #666;
      margin-bottom: 15px;
  }

  .contain-all2 {
      background-color: #ffffff;
      border-radius: 4px;
      border: solid 1px rgb(225, 225, 225);
      padding: 20px;
  }

  .contain-all3 {
      background-color: #ffffff;
      border-radius: 4px;
      padding: 20px;
      border: solid 1px rgb(225, 225, 225);
  }



  .post-divider {
      border-top: 1px solid #ccc;
      margin-top: 30px;
      padding-top: 20px;
  }

  /* Style the like button */
  .btn-like {
      color: #ff4500;
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 18px;
      margin-right: 10px;
  }

  /* Style the text secondary */
  .text-secondary {
      color: rgb(8, 5, 5) !important;
      margin-right: 10px;
  }



  /* Style the comment section */
  .comment-box {
      border-bottom: 1px solid #ccc;
      padding: 20px 0;
  }

  /* Style the comment */
  .comment {
      display: flex;
      align-items: center;
      padding: 10px;
      border-radius: 5px;
      background-color: #f9f9f9;
      margin-bottom: 15px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }


  .comment-user-photo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
      overflow: hidden;
  }

  .comment-user-photo img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .comment-content {
      flex-grow: 1;
  }

  .comment-name {
      font-weight: bold;
      margin-bottom: 5px;
      color: #1a1a1a;
  }

  .comment-date {
      color: #888;
      font-size: 12px;
  }

  .comment-body {
      margin-top: 5px;
      color: #1a1a1a;
  }

  .comment-form {
      margin-top: 25px;
  }

  .btn-signup {
      background-color: #ff4500;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }

  .alert {
      background-color: #f2f2f2;
      color: #1a1a1a;
      border: 1px solid #ccc;
      margin-top: 15px;
      padding: 15px;
  }

  /* Style form input elements */
  input[type="text"],
  textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 15px;
  }

  /* Style the like button on hover */
  .btn-like:hover {
      background-color: #e81010;
  }

  /* Style the submit comment button */
  .btn-submit-comment {
      background-color: #23a5b7 !important;
      padding: 10px;
      color: white !important;
  }

  /* Style the submit comment button on hover */
  .btn-submit-comment:hover {
      background-color: #10a0e8 !important;
  }

  /* Style button type submit */
  button[type="submit"] {
      color: rgb(239, 239, 239);
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }

  /* Responsive styles */
  @media (max-width: 768px) {



      .welcome-title {
          font-size: 2rem;
      }

      .welcome-description {
          font-size: 1rem;
      }
  }

  /* Hide asteriskField */
  .asteriskField {
      display: none;
  }


  #-------------------------------Profile------------------------------ .profile-container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      animation: fadeInUp 0.5s ease-in-out;
  }

  .profile-header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 20px;
  }

  .profile-photo-frame {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid #ccc;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }



  .profile-welcome {
      font-size: 24px;
      margin-top: 10px;
  }

  .comments-list {
      border-top: 1px solid #ccc;
      padding-top: 20px;
      margin-top: 20px;
  }

  .comment {
      background-color: #f9f9f9;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 15px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .comment-info {
      display: flex;
      align-items: center;
  }

  .comment-details {
      flex-grow: 1;
  }


  .comment-name {
      margin: 0;
  }

  .comment-date {
      color: #888;
  }

  .comment p {
      margin: 5px 0;
  }

  .comment hr {
      margin-top: 10px;
      margin-bottom: 20px;
  }

  /* Animation */
  @keyframes fadeInUp {
      0% {
          opacity: 0;
          transform: translateY(20px);
      }

      100% {
          opacity: 1;
          transform: translateY(0);
      }
  }


  .comment-user-photo img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .user-photo-frame {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      border-radius: 50%;
      overflow: hidden;
  }

  .user-photo-frame img {
      width: 100%;
      height: 100%;
      object-fit: cover;

  }



  .related-post {
      margin-bottom: 20px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
  }

  .related-post-title {
      font-size: 16px;
      margin-bottom: 5px;
  }

  .related-post-date {
      color: #888;
      font-size: 12px;
  }


  .clear {
      clear: both;
  }

  .blog-post-card a {
      text-decoration: none;
  }

  .blog-post-card a:hover {
      text-decoration: none;

  }

  #------------------------Post-List-Page------------------------- .blog-post-card {
      display: flex;
      margin-bottom: 20px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      overflow: hidden;

  }


  .blog-post-image img {
      width: 100%;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 5px 5px 0 0;
  }



  .blog-post-content {
      flex: 2;
      padding: 20px;
  }

  .blog-post-content h2 {
      font-size: 24px;
      margin: 0 0 10px 0;
      color: #333;
  }

  .blog-post-content p {
      font-size: 16px;
      color: #777;
      margin: 10px 0;
  }

  .post-details {
      margin-top: 10px;
      text-align: right;
  }

  .post-author {
      margin-top: 10px;
      text-align: right;
  }

  .small,
  small {
      font-size: .875em;
  }

  .separator {
      margin-top: 30px;
      border-top: 1px solid #ddd;
  }

  #------------------------edit_profile--------------------------- .profile-container {
      max-width: 500px;
      margin: 0 auto;
      padding: 30px;
      border-radius: 10px;
      background-color: #ffffff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      animation: fadeInUp 0.5s ease-in-out;
  }

  .profile-container h1 {
      font-size: 24px;
      margin-bottom: 20px;
  }

  .form-group {
      margin-bottom: 20px;
  }

  .form-group label {
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
  }

  .form-group input[type="file"],
  .form-group input[type="text"],
  .form-group textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f9f9f9;
  }

  .form-group textarea {
      resize: vertical;
  }

  .btn-primary {
      background-color: #007bff;
      color: #ffffff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }

  /* Animation */
  @keyframes fadeInUp {
      0% {
          opacity: 0;
          transform: translateY(20px);
      }

      100% {
          opacity: 1;
          transform: translateY(0);
      }
  }

  #----------------welcome_page----------------- * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  .welcome-container {
      background-color: #111;
      color: #fff;
      text-align: center;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      overflow: hidden;
      position: relative;
  }

  /* Style the welcome image */
  .welcome-image {
      max-width: 100%;
      height: auto;
      animation: fadeIn 2s ease-in-out;
  }

  /* Style the welcome content */
  .welcome-content {
      z-index: 1;
      position: relative;
      animation: slideInUp 1s ease-in-out 0.1s;
      max-width: 100%;
  }

  /* Style the welcome title */
  .welcome-title {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 1rem;
      text-transform: uppercase;
      letter-spacing: 4px;
  }

  /* Style the welcome description */
  .welcome-description {
      font-size: 1.2rem;
      font-weight: 300;

      max-width: 600px;
      margin: 0 auto;
  }

  /* Style the welcome button */
  .btn-primary {
      background-color: #00aaff;
      border-color: #00aaff;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 10px 30px;
      transition: background-color 0.3s ease;
      margin: 20px;
  }

  .btn-primary:hover {
      background-color: #0077cc;
  }

  /* Add keyframe animations */
  @keyframes fadeIn {
      0% {
          opacity: 0;
      }

      100% {
          opacity: 1;
      }
  }

  @keyframes slideInUp {
      0% {
          transform: translateY(50px);
          opacity: 0;
      }

      100% {
          transform: translateY(0);
          opacity: 1;
      }
  }