{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/animate.min.css' %}"
/>

<div class="profile-container">
  <div class="profile-header">
    <div class="profile-photo-frame">
      {% if request.user.profile.profile_image %}
      <img
        src="{{ request.user.profile.profile_image.url }}"
        alt="{{ request.user.username }}'s Profile Photo"
        class="profile-photo"
      />
      {% else %}
      <div class="default-profile-photo">
        <span>No profile photo yet.</span>
      </div>
      {% endif %}
    </div>
    <div class="profile-info">
      <h1 class="profile-welcome animate__animated animate__fadeInUp">
        Welcome, {{ user.username }}!
      </h1>
    </div>
  </div>
  <div class="comments-list" style="margin-top: 20px">
    <h2 class="animate__animated animate__fadeIn">Liked Posts</h2>
    {% for liked_post in user.blogpost_like.all %}
    <div
      class="comment animate__animated animate__fadeIn"
      style="margin-bottom: 10px"
    >
      <p>
        <strong>Post: </strong
        ><a href="{% url 'post_detail' liked_post.slug %}"
          >{{ liked_post.title }}</a
        >
      </p>
      <p><strong>Created On: </strong>{{ liked_post.created_on }}</p>
      <hr />
    </div>
    {% endfor %}
  </div>
  <div class="comments-list" style="margin-top: 20px">
    <h2 class="animate__animated animate__fadeIn">Commented Posts</h2>
    {% for comment in user_comments %}
    <div
      class="comment animate__animated animate__fadeIn"
      style="margin-bottom: 10px"
    >
      <div class="comment-info">
        <img
          src="{{ comment.user.profile.profile_image.url }}"
          alt="{{ comment.user.username }}'s Profile Photo"
          class="user-photo"
        />
        <p class="comment-name">
          {{ comment.name }}
          <span class="comment-date">{{ comment.created_on }}</span> wrote:
        </p>
      </div>
      <p class="comment-body">{{ comment.body }}</p>
      <hr />
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
